<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="index@.css">    <title>Document</title>
</head>
<body>
<h6>Hello friend! Enjoy using! © iGorG, 2020<h6><h6 align="center">Test page<h6>

    <button id="one">Пользователь 1 лайкает второго</button>
    <button id="two">Пользователь 2 лайкает первого</button>
<div id="divView"></div>

<!--    <script index.js></script>-->
    <script src="index@.js"></script>
</body>
</html>