body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  margin: 0 5px;
}

#root {
  height: 100%;
  background-color: #EDEEF0;
}

.loginForm{
  display: flex;
  justify-content: center;
}
.login-form-button {
  width: 100%;
}

.registerForm { 
  display: flex;
  justify-content: center;
}
.registerHeader {
  text-align: center;
}

.profileContainer {
  padding: 40px 140px;
}

.navbarText {
  font-weight: bold;
}

.navbarUserName {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}