@import '~antd/dist/antd.css';

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    width: 30%;
    line-height: 160px;
    background: lightblue;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}