body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  margin: 0 5px;
}

.loginForm{
  max-width: 300px;
  margin: auto;
  margin-top: 200px
}
.login-form-button {
  width: 100%;
}

.registerForm { 
  max-width: 600px;
  margin: auto;
  margin-top: 50px
}
.registerHeader {
  text-align: center;
}
